html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px -1080px;
  }
}

.ll-welcome {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://i.imgur.com/nbtlerW.jpg");
  background-size: cover;
  animation: scrollBackground 60s infinite;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: "Special Elite", cursive;
  font-size: 60px;
  text-align: center;
}

.ll-bankspace {
  height: 40%;
}

.ll-scroll {
  text-decoration: none;
  color: white;
  transform: rotate(315deg);
}

.ll-rotateRocket:hover {
  transform: rotate(315deg);
}

#ll-section2 {
  width: 100%;
  height: 100vh;
  background-image: url("https://i.imgur.com/IlusjAQ.jpg");
  background-size: cover;
  background-position: center;
}
