html {
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	font-family: "nasalizationregular";
	src: url("../webfontkit-20200827-234732/nasalization-rg-webfont.woff2")
			format("woff2"),
		url("../webfontkit-20200827-234732/nasalization-rg-webfont.woff")
			format("woff");
}

a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: white;
}

@keyframes scrollBackground {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 0px -1080px;
	}
}

@keyframes scrollPrice {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -600px 0px;
	}
}

.ll-welcome {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url("/image/intro-background.jpg");
	background-size: cover;
	animation: scrollBackground 60s infinite;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 60px;
	text-align: center;
	font-family: "Special Elite", cursive;
}

.ll-scroll {
	text-decoration: none;
	color: white;
	transform: rotate(315deg);
}

.ll-rotateRocket:hover {
	transform: rotate(315deg);
}

.ll-box div {
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: 4px solid rgba(255, 255, 255, 0.8);
	border-radius: 30%;
}

.ll-box div:nth-child(1) {
	top: 12%;
	left: 42%;
	animation: animate 10s linear infinite;
}

.ll-box div:nth-child(2) {
	top: 90%;
	left: 50%;
	animation: animate 7s linear infinite;
}

.ll-box div:nth-child(3) {
	top: 17%;
	left: 6%;
	animation: animate 9s linear infinite;
}

.ll-box div:nth-child(4) {
	top: 20%;
	left: 60%;
	animation: animate 10s linear infinite;
}

.ll-box div:nth-child(5) {
	top: 67%;
	left: 10%;
	animation: animate 6s linear infinite;
}

.ll-box div:nth-child(6) {
	top: 80%;
	left: 70%;
	animation: animate 12s linear infinite;
}

.ll-box div:nth-child(7) {
	top: 60%;
	left: 80%;
	animation: animate 15s linear infinite;
}

.ll-box div:nth-child(8) {
	position: absolute;
	top: 32%;
	left: 25%;
	animation: animate 16s linear infinite;
}

.ll-box div:nth-child(9) {
	top: 90%;
	left: 25%;
	animation: animate 9s linear infinite;
}

.ll-box div:nth-child(10) {
	top: 20%;
	left: 80%;
	animation: animate 5s linear infinite;
}

.ll-box div:nth-child(11) {
	top: 50%;
	left: 1%;
	animation: animate 5s linear infinite;
}

.ll-box div:nth-child(12) {
	top: 80%;
	left: 90%;
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		transform: scale(0) translateY(0) rotate(0);
		opacity: 1;
	}
	100% {
		transform: scale(1) translateY(-90px) rotate(360deg);
		opacity: 1;
	}
}

#ll-planet {
	background-image: url(/image/planetbackground.jpg);
	background-position: center;
	min-height: 100vh;
	height: 100%;
	padding: 3% 0;
}

.ll-extraRow {
	color: white;
	font-family: "nasalizationregular";
	src: url("../webfontkit-20200827-234732/nasalization-rg-webfont.woff2")
			format("woff2"),
		url("../webfontkit-20200827-234732/nasalization-rg-webfont.woff")
			format("woff");
	font-size: 40px;
	padding: 10px 0px;
	text-align: center;
}

.jycrop1 {
	width: 130px;
	height: auto;
	cursor: pointer;
	border-radius: 50%;
}

.jycrop2 {
	width: 330px;
	cursor: pointer;
}
.jyprow1 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.jyprow2 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.jydesktop .jymercury,
.jydesktop .jyuranus {
	margin-left: 26vw;
}

.jydesktop .jyearth,
.jydesktop .jyjupiter {
	margin-left: 10vw;
}

.jydesktop .jyvenus,
.jydesktop .jyneptune {
	margin-right: 26vw;
}

.jydesktop .jymars {
	margin-right: 10vw;
}

.jydesktop .jysaturn {
	margin-right: 8vw;
}

.jymobile {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.jymobile img {
	margin: 30px;
}

@media only screen and (max-width: 1424px) {
	.jydesktop {
		display: none;
	}
}

@media only screen and (min-width: 1425px) {
	.jymobile {
		display: none;
	}
}

/* POPUP CSS */
@font-face {
	font-family: "nasalizationregular";
	src: url("../webfontkit-20200827-234732/nasalization-rg-webfont.woff2")
			format("woff2"),
		url("../webfontkit-20200827-234732/nasalization-rg-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}

.hg-nasa {
	font-family: "nasalizationregular";
}
.hg-noOfPassenger {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	text-align: center;
	color: #ffffff;
}

#ll-guestQty {
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#hg-popup {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden;
	max-width: 100vw;
	height: 100vh;
	color: #ffffff;
	background-image: url(/image/numberpeople.png);
	animation: scrollPrice 5s infinite;
}

.hg-popup-container {
	margin: 0 auto;
	/* make picture center on smaller sizes */
	margin-left: 50%;
	transform: translateX(-50%);
	position: relative;
	width: 800px;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hg-popup-img {
	position: absolute;
	overflow: hidden;
	height: 800px;
}

.hg-popup-content {
	width: 270px;
	height: 350px;
	padding: 0 270px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "nasalizationregular";
	top: 15%;
}

#number {
	width: 55px;
	border: none;
	align-self: center;
	margin-bottom: 15px;
	margin-right: 10px;
}

#number:focus {
	outline: none;
}

.number {
	font-size: 40px;
	letter-spacing: 1.5px;
}

.gnnavcontainer {
	width: 100%;
}

.gnnavcontainer {
	width: 100%;
}

.gncontainer {
	max-width: 1170px;
	width: 100%;
}

nav {
	height: 50px;
	width: 100%;
	background-color: transparent;
	/* background-image: linear-gradient(to right, black, transparent); */
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: "nasalizationregular";
	src: url("../webfontkit-20200827-234732/nasalization-rg-webfont.woff2")
			format("woff2"),
		url("../webfontkit-20200827-234732/nasalization-rg-webfont.woff")
			format("woff");
	color: white;
	font-size: 30px;
}

.blankSpace {
	width: 60%;
}

.crew {
	font-family: "nasalizationregular";
	src: url("../webfontkit-20200827-234732/nasalization-rg-webfont.woff2")
			format("woff2"),
		url("../webfontkit-20200827-234732/nasalization-rg-webfont.woff")
			format("woff");
	color: white;
	font-size: 30px;
}
.crew:hover {
	color: white;
}

.gnlogospacing {
	display: flex;
	justify-content: flex-start;
}

.navbarfont {
	color: white;
	padding-top: 14%;
}

.gnnavstyle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
}

.gnnavstyle a {
	margin-right: 15px;
	padding: 10px;
	font-family: "nasalizationregular";
	src: url("../webfontkit-20200827-234732/nasalization-rg-webfont.woff2")
			format("woff2"),
		url("../webfontkit-20200827-234732/nasalization-rg-webfont.woff")
			format("woff");
	color: white;
	font-size: 30px;
	text-decoration: none;
}

.gnfooter-icons {
	flex: 3;
	display: flex;
	justify-content: center;
	text-decoration: none;
}

.gnfooter-icons > .fab {
	margin: 15px;
}

.gnfooter-icons > .fab:hover {
	color: #888888;
	text-decoration: none;
}

.gnbtnplacement {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.gnbtn {
	font-size: 20px;
	width: 252.656px;
	height: 47.4844px;
	border-radius: 500px;
	transition-duration: 0.3s;
	font-weight: bold;
	background-color: #1d2124;
	border: 1px solid #888888;
	padding: 10px;
	box-shadow: 5px 5px #888888;
	margin-bottom: 25px;
}

.gnbtn:hover {
	background-color: black;
	cursor: pointer;
}

.gnbtn-primary {
	color: white;
}

select.number {
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	-ms-border-radius: 200px;
	-o-border-radius: 200px;
}

.number option {
	background-color: gray !important;
	padding: 0 auto;
}

/* PARTICLES */
#particles-js {
	width: 100vw;
	height: 100vh;
	background-color: black;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	/* display: flex; */
	/* justify-content: center;
	align-items: center;
	margin: 0 auto !important; */
}

/* ---- stats.js ---- */

/* .count-particles{

	background: #000022;
	position: absolute;
	top: 48px;
	left: 0;

  width: 80px;
  height:100% */
/* color: #13E8E9;
	font-size: 1.8em;

	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;

  font-weight: bold;
  border-radius: 0 0 3px 3px; */
/* }

  
  .js-count-particles{
	font-size: 1.1em;
  }
  
  #stats,
  .count-particles{
	-webkit-user-select: none;
  }
  
  #stats{
	border-radius: 3px 3px 0 0;
	overflow: hidden;
<
  } */

/* BELOW IS ABOUT US CSS */

#ll-aboutUs {
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-image: url(/image/footerbackground.png);
	animation: scrollPrice 50s infinite;
	padding: 2% 0;
	background-size: cover;
}

.row {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.col {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
	background-color: transparent;
	width: 200px;
	height: 200px;
	/*   perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 1s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	color: white;
}

/* Style the back side */
.flip-card-back {
	color: white;
	transform: rotateY(180deg);
	background-color: transparent;
	border-style: solid;
	border-width: 3px;
	border-radius: 50%;
	border-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "nasalizationregular";
	src: url("../webfontkit-20200827-234732/nasalization-rg-webfont.woff2")
			format("woff2"),
		url("../webfontkit-20200827-234732/nasalization-rg-webfont.woff")
			format("woff");
}

.aboutUsHeading {
	color: white;
	font-family: "nasalizationregular";
	src: url("../webfontkit-20200827-234732/nasalization-rg-webfont.woff2")
			format("woff2"),
		url("../webfontkit-20200827-234732/nasalization-rg-webfont.woff")
			format("woff");
	font-size: 40px;
}

.ll-footer {
	position: relative;
	height: 400px;
	overflow: hidden;
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gncontactinfo {
	text-align: center;
}

#demo {
	font-size: 50px;
	font-weight: bold;
}

.margin {
	padding-right: 8%;
}

.gnbtn:focus {
	outline: none;
}

.gniconcolor {
	text-decoration: none;
}

.titlefont {
	font-family: "nasalizationregular";
}
